html {
	/*background-color: #ffebbd;*/
	background-color: #b8b8f3;

}

body {
	padding: 2rem;
}

a {
	text-decoration: underline;
}

#logo {
	color: #363636;
	padding: 0.5rem;
	background-color: yellow;
	border : 2px solid #000;
	border-radius : 6px;
	display: inline-block;
	margin-bottom: 1rem;
}

.thick-box-shadow {
	box-shadow: -0.005em 0.005em 0 #242424,
	    -0.01em 0.01em 0 #242424,
	    -0.015em 0.015em 0 #242424,
	    -0.02em 0.02em 0 #242424,
	    -0.025em 0.025em 0 #242424,
	    -0.03em 0.03em 0 #242424,
	    -0.035em 0.035em 0 #242424,
	    -0.04em 0.04em 0 #242424,
	    -0.045em 0.045em 0 #242424,
	    -0.05em 0.05em 0 #242424,
	    -0.055em 0.055em 0 #242424,
	    -0.06em 0.06em 0 #242424,
	    -0.065em 0.065em 0 #242424,
	    -0.07em 0.07em 0 #242424,
	    -0.075em 0.075em 0 #242424,
	    -0.08em 0.08em 0 #242424,
	    -0.085em 0.085em 0 #242424,
	    -0.09em 0.09em 0 #242424,
	    -0.095em 0.095em 0 #242424,
	    -0.1em 0.1em 0 #242424,
	    -0.101em 0.101em 0 #242424,
	    -0.1015em 0.1015em 0 #242424,
	    -0.102em 0.102em 0 #242424,
	    -0.1025em 0.1025em 0 #242424,
	    -0.103em 0.103em 0 #242424,
	    -0.1035em 0.1035em 0 #242424,
	    -0.104em 0.104em 0 #242424,
	    -0.1045em 0.1045em 0 #242424,
	    -0.105em 0.105em 0 #242424,
	    -0.1055em 0.1055em 0 #242424,
	    -0.106em 0.106em 0 #242424,
	    -0.1065em 0.1065em 0 #242424,
	    -0.107em 0.107em 0 #242424,
	    -0.1075em 0.1075em 0 #242424,
	    -0.108em 0.108em 0 #242424,
	    -0.1085em 0.1085em 0 #242424,
	    -0.109em 0.109em 0 #242424,
	    -0.1095em 0.1095em 0 #242424,
	    -0.11em 0.11em 0 #242424,
	    -0.111em 0.111em 0 #242424,
	    -0.1115em 0.1115em 0 #242424,
	    -0.112em 0.112em 0 #242424,
	    -0.1125em 0.1125em 0 #242424,
	    -0.113em 0.113em 0 #242424,
	    -0.1135em 0.1135em 0 #242424,
	    -0.114em 0.114em 0 #242424,
	    -0.1145em 0.1145em 0 #242424,
	    -0.115em 0.115em 0 #242424,
	    -0.1155em 0.1155em 0 #242424,
	    -0.116em 0.116em 0 #242424,
	    -0.1165em 0.1165em 0 #242424,
	    -0.117em 0.117em 0 #242424,
	    -0.1175em 0.1175em 0 #242424,
	    -0.118em 0.118em 0 #242424,
	    -0.1185em 0.1185em 0 #242424,
	    -0.119em 0.119em 0 #242424,
	    -0.1195em 0.1195em 0 #242424,
	    -0.12em 0.12em 0 #242424,
	    -0.121em 0.121em 0 #242424,
	    -0.1215em 0.1215em 0 #242424,
	    -0.122em 0.122em 0 #242424,
	    -0.1225em 0.1225em 0 #242424,
	    -0.123em 0.123em 0 #242424,
	    -0.1235em 0.1235em 0 #242424,
	    -0.124em 0.124em 0 #242424,
	    -0.1245em 0.1245em 0 #242424,
	    -0.125em 0.125em 0 #242424,
	    -0.1255em 0.1255em 0 #242424,
	    -0.126em 0.126em 0 #242424,
	    -0.1265em 0.1265em 0 #242424,
	    -0.127em 0.127em 0 #242424,
	    -0.1275em 0.1275em 0 #242424,
	    -0.128em 0.128em 0 #242424,
	    -0.1285em 0.1285em 0 #242424,
	    -0.129em 0.129em 0 #242424,
	    -0.1295em 0.1295em 0 #242424,
	    -0.13em 0.13em 0 #242424,
	    -0.131em 0.131em 0 #242424,
	    -0.1315em 0.1315em 0 #242424,
	    -0.132em 0.132em 0 #242424,
	    -0.1325em 0.1325em 0 #242424,
	    -0.133em 0.133em 0 #242424,
	    -0.1335em 0.1335em 0 #242424,
	    -0.134em 0.134em 0 #242424,
	    -0.1345em 0.1345em 0 #242424,
	    -0.135em 0.135em 0 #242424,
	    -0.1355em 0.1355em 0 #242424,
	    -0.136em 0.136em 0 #242424,
	    -0.1365em 0.1365em 0 #242424,
	    -0.137em 0.137em 0 #242424,
	    -0.1375em 0.1375em 0 #242424,
	    -0.138em 0.138em 0 #242424,
	    -0.1385em 0.1385em 0 #242424,
	    -0.139em 0.139em 0 #242424,
	    -0.1395em 0.1395em 0 #242424,
	    -0.14em 0.14em 0 #242424,
	    -0.141em 0.141em 0 #242424,
	    -0.1415em 0.1415em 0 #242424,
	    -0.142em 0.142em 0 #242424,
	    -0.1425em 0.1425em 0 #242424,
	    -0.143em 0.143em 0 #242424,
	    -0.1435em 0.1435em 0 #242424,
	    -0.144em 0.144em 0 #242424,
	    -0.1445em 0.1445em 0 #242424,
	    -0.145em 0.145em 0 #242424,
	    -0.1455em 0.1455em 0 #242424,
	    -0.146em 0.146em 0 #242424,
	    -0.1465em 0.1465em 0 #242424,
	    -0.147em 0.147em 0 #242424,
	    -0.1475em 0.1475em 0 #242424,
	    -0.148em 0.148em 0 #242424,
	    -0.1485em 0.1485em 0 #242424,
	    -0.149em 0.149em 0 #242424,
	    -0.1495em 0.1495em 0 #242424,
	    -0.15em 0.15em 0 #242424;
}

.box {
	border : 2px solid #000;
}

.empty-state-message {
	margin-bottom: 0 !important;
}

/*#reference-form input, #global-parameters-list input {
	margin-bottom : 10px;
}*/

#reference-form label, #global-parameters-list label {
	margin-top : 10px;
}

#reference-form label:first-child, #global-parameters-list label:first-child {
	margin-top : 0;
}

#reference-form {
	margin-bottom: 20px;
}

#get-endpoint .control:first-child {
	width: 100%;
}

.cta {
	margin-top: 10px;
}
